<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v5.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=1.0">
    <title>Your AI World - Emotion Detection</title>
</head>

<body>
    <header>
        <div class="border-header">
            <h1><span class="flower">&#127802;</span>Your AI World<span class="flower">&#127802;</span></h1>
        </div>
    </header>
    <div id="emotionDetection">
        <h2>Real-time Emotion Detection</h2>
        <div id="canvasParent">
            <canvas id="drawCanvas"></canvas>
            <video id="emotionVideo" onloadeddata="adjustCanvas()" ></video>
            <canvas id="captureCanvas"></canvas>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Your AI World. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script> -->
    <script>
        // window.onload = startCamera();
        document.addEventListener("DOMContentLoaded", function() {
            startCamera();
        });
    </script>

</body>

</html>
